@media only screen and (min-width: 1064px) {

    .image{
        /* width: 300px;
        height: 300px; */
        flex-basis: 100px;
        /* float: left; */
        /* margin-left: -40%; */
        /* display: block; */
        /* padding: 20px; */
    }
    #respinn{
        /* float: right; */
        /* width: 60px;
        height: 60px; */
        /* float: right; */
        /* float: left; */
        margin-top: 20px;
        margin-left: 5px;
        width: 400px;
        height: 400px;
        padding-left: 50px;
        overflow: auto;
        /* display: block; */
        
    }

    .responses{
        text-align: center;
        align-self: center;
    }
    .respons{
        text-align: center;
        margin-left: 40px;
    }

    .responsediv{
        display: flex;
        justify-content: center;
        padding-top:30px;
    }
}

@media only screen and (max-width: 1063px){
    #img1{
        /* width: 300px;
        height: 300px; */
        /* flex-basis: 100px; */
        /* float: left; */
        /* margin-left: -40%; */
        /* display: block; */
        /* padding: 20px; */
        align-self: center;
        width: 300px;
        height: 350px;
        /* padding: 50px; */
    }
    #respinn{
        /* float: right; */
        /* width: 60px;
        height: 60px; */
        /* float: right; */
        /* float: left; */
        /* margin-top: 20px; */
        margin-left: 5px;
        /* width: 100px; */
        /* height: 400px; */
        padding-left: 10px;
        /* max-height: 200px; */
        overflow: auto;
        height: 200px;
        /* display: block; */
        
    }
    #name{
        margin-bottom: 20px;
    }
    .responses{
        text-align: center;
        padding-top: 45px;
    }

    .responsediv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:30px;
    }
    
}
