#div{
    display: flex;
    align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    /* align-content: center; */
    /* width: 550px; */
}

.p{
    flex-shrink: 6;
    /* flex-basis: 10px; */
    width: 550px;
    align-self: center;
}


